.container{
    position: relative;
    // min-height: 40vh;
    
    .book{
        min-height: 70vh;
        width: 100%;
        display: flex;
        // background: red;
        justify-content: center;



        .login-image{
            // background: green;
            height: 100%;

            .login-quote{
                // display: none;

                height: 25rem;
                width: 25rem;

                position: absolute;
                font-size: 2vw;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: #ffb6b9cf;
                border-radius: 50%;
                // font-family: 'Borel', cursive;
                font-weight: 300;

                .author{
                    font-size: 1.5vw;
                }

            }

            img{
                // display: none;
                height: 80%;
                width: auto;
            }
        }

        .login-form{
            width: 70%;

            .form-control{
                border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 0px;
            }

            .form-control:focus{
                box-shadow: 0 0 0 0.1rem var(--primary-color);
                border-color: var(--primary-color);
            }

            .error{
                font-size: 12px;
            }

        }

    }

}
