<div class="row wrapper">
    <div class="col-md-2 secondary-bg p-0 pt-2 fixed menu-area">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a 
                class="nav-link" 
                routerLink="/books"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
              >All Books</a>
            </li>
            <li class="nav-item">
              <a 
                class="nav-link" 
                routerLink="add"
                routerLinkActive="active"
              >Add Books</a>
            </li>
          </ul>
    </div>
    <div class="col-md-10 work-area">
      <router-outlet></router-outlet>
    </div>
</div>