.baner{
    background: var(--primary-color);
    width: 100%;
    height: 70vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    overflow: hidden;
}

.quote{
    .words, .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image img{
        margin-top: -50px;
    }
    .words{
        font-size: 3.5rem;
        font-family: 'Borel', cursive;
    }
    .credit{
        font-size: 1.5rem;
    }
}

.everything-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-quote{
    height: 20vh;
    width: 100%;
    // background: grey;
}

.carousel-caption{
    color: #000 !important;
}