<div class="baner">
    <div class="container">
      <div class="row quote mt-1" style="overflow: hidden;">
        <div class="col-md-6 words">
          <div>
            <p class="m-0 pt-3">
              "A word,<br>
              after a word,<br>
              after a word,<br>
              is Power."<br>
            </p>
            <p class="credit p-0 m-0 text-secondary ">
              - Margaret Atwood
            </p>
          </div>
          <!-- <p>
            Books are mirrors: You only see in them what you already have inside you.
          </p> -->
        </div>
        <div class="col-md-6 image">
          <img src="../assets/books-bgless.png" alt="">
        </div>
      </div>
        
    </div>
  </div>

<div class="container py-4">
    <h3 class="text-center mt-4">Books For You.</h3>
  
    <div class="row pt-4">
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="../assets/books.jpg" alt="">
          <div class="card-body everything-center flex-column">
            <h5 class="card-title">
              Title Here
            </h5>
            <p class="card-text text-center">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto sapiente in magnam hic amet vitae facilis est eius dolorum!
            </p>
            <a href="#" class="btn primary-button">Borrow</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="../assets/books.jpg" alt="">
          <div class="card-body everything-center flex-column">
            <h5 class="card-title">
              Title Here
            </h5>
            <p class="card-text text-center">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto sapiente in magnam hic amet vitae facilis est eius dolorum!
            </p>
            <a href="#" class="btn primary-button">Borrow</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <img src="../assets/books.jpg" alt="">
          <div class="card-body everything-center flex-column">
            <h5 class="card-title">
              Title Here
            </h5>
            <p class="card-text text-center">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque iusto sapiente in magnam hic amet vitae facilis est eius dolorum!
            </p>
            <a href="#" class="btn primary-button">Borrow</a>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
  
  <h3 class="text-center mt-4 py-4">Something you might like.</h3>
  
  <div class="container py-4 mb-4">
  
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <!-- <img src="..." class="d-block w-100" alt="..."> -->
          <div class="book-quote everything-center">
            
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5>"It's the possibility of having a dream come true that makes life interesting."</h5>
            <p>"The Alchemist" by Paulo Coelho</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="book-quote everything-center">
            
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5>"What's the point of having a voice if you're gonna be silent in those moments you shouldn't be?"</h5>
            <p>"The Hate U Give" by Angie Thomas</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="book-quote everything-center">
           
          </div>
          <div class="carousel-caption d-none d-md-block">
            <h5>"Now that I knew fear, I also knew it was not permanent. As powerful as it was, its grip on me would loosen. It would pass."</h5>
            <p>"The Round House" by Louise Erdrich</p>
          </div>
        </div>
      </div>
  
      <br><br>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  </div>