.wrapper{
    position: absolute;
    width: 100%;
    z-index: -20;
    padding: 0px;
    margin: 0px;
    min-height: calc(100vh - 60px);
    .nav-link{
        color: #000;
        background: var(--tertiary-color);
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
    .nav-link.active{
        background: var(--quaternary-color);
    }
    .nav-link:hover{
        background: var(--quaternary-color);
    }
    .menu-area{
        position: fixed;
        top: 55px;
        height: 100%;
    }
    .work-area{
        position: absolute;
        right: 0;
        z-index: -10;
        top: 12%;

    }
}